<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus,
        nulla minima voluptates aperiam iure eum vero officiis voluptatibus
        distinctio ut debitis. Voluptatem expedita obcaecati omnis ratione
        dolorem! Iusto corrupti totam quia eaque delectus repellendus veniam
        nemo provident doloremque veritatis rerum facere quam libero cum quae,
        ullam necessitatibus minus molestias porro nisi sed! Quod quisquam
        impedit quis amet quia iure maxime.
      </p>
    </div>
  </body>
</html>
