<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <span class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tempora
        sed eum vel nisi reprehenderit earum illum ullam quis natus eos,
        inventore aut aspernatur, sapiente quae quisquam itaque non tenetur
        veniam unde. Quidem dolorem unde obcaecati, asperiores mollitia
        architecto sint tempore labore, autem, suscipit dolor quia ullam
        reprehenderit illo earum.
      </p>
    </span>
    <span class="box"></span>
  </body>
</html>
