html{
    font-size: 62.5%;
}

body{
    font-family: poppins,Arial, Helvetica, sans-serif;
}
h1{
    text-shadow: 2px 2px 0 #000 ;
    word-spacing: 1.5rem;
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
    
}

.hero{
   align-items: center;
   background: url(../images/banner1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
   
   height: 100vh;
   justify-content: center;
   display: flex;
   flex-direction:column;
   padding: 1rem;
   text-align: center;
}
.hero .tagline{
    background-color: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 1.5rem;
}
@media screen and (min-width:853px) {
    .hero{
        background: url(../images/banner2.jpg);
        background-size:cover ;
        background-repeat: no-repeat; 
    }
    h1{
        font-size: 6rem;
    }
}

@media screen and (min-width:1024px) {
    .hero{
        background: url(../images/banner3.jpg);
        background-size:cover ;
        background-repeat: no-repeat; 
    }
    h1{
        font-size: 6rem;
    }
}

@media screen and (min-width:1440px) {
    .hero{
        background: url(../images/banner4.jpg);
        background-size:cover ;
        background-repeat: no-repeat; 
    }
    h1{
        font-size: 9rem;
    }
}