<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
        cumque obcaecati! Fugiat itaque iste rerum obcaecati tempore quod
        ratione atque, cum excepturi a facere ipsam cupiditate omnis porro
        quisquam architecto.
      </div>
      <div class="box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sit
        impedit, cumque, asperiores eligendi hic sunt vitae illum aut quam
        suscipit odit nam ex? Cum eum sed natus amet enim.
      </div>
    </div>
  </body>
</html>
