<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p class="clear">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta
        blanditiis ducimus quia vero nemo eos? Dolorum, illum ad mollitia dolor
        placeat aspernatur magni voluptatem quaerat, iure debitis facere nulla,
        sit ut necessitatibus? Rerum tempora, odit cumque rem alias dolores
        dignissimos quis dicta eos accusantium libero at tempore. Itaque, id?
      </p>
    </article>
  </body>
</html>
